body{
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    height: 100vh;
}

header{
    text-align: center;
    font-size: large;
    background-color: black;
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    background-color:darkgray;
    place-items: center;
}

footer{
    text-align: center;
    font-size: large;
    color: white;
    background-color: black;
}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration: underline red;
}

.gym{
    text-decoration: underline blue;
}

.games{
    text-decoration: underline black;
}

.friends{
    text-decoration: underline green;
}

.gym_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gym_img{
    width: 100%;
}

.friends_img{
    width: 300px
    
}

.main_friends{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.p_friends{
    font-size: 60px;
    text-align: center;
}

.game_main{
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
}

.game_p{
    text-align: center;
    font-size: large;
    grid-column-start: 2;
}

.game_img1{
    width: 100%;
    grid-row-start: 2;
}

.game_img2{
    width: 100%;
    grid-row-start: 2;
}

.game_img3{
    width: 100%;
    grid-row-start: 2;
}

